# secrets
src/main/resources/secrets.local.properties
src/main/resources/secrets.prod.properties
**/*secrets*

target/
.mvn/
node_modules/
tmp/
src/main/resources/static/built/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.metadata/*
.metadata/**/*
