.container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
  width: min(900px, 100% - 3rem);
  margin: 0 auto;
}

.table {
  /* table will take as much space needed, center within the empty */
  /* spread the table out over the available space */
  border-collapse: collapse;
  width: 100%;
}

.caption {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}



.container th,td {
  padding: 15px;
  /*text-align: center;*/
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.container thead {
  background-color: var(--orange-color);
}

.container tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.container tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}

.createbtn {
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-blue-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}


/* drop fields on mobile */

@media (max-width: 600px) {
  .non-essential-field {
    display: none;
  }
}


