/* user button-links */

.div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.login,.signup {
  text-decoration: none;
}

.login:hover {
  color: var(--orange-color);
}
.signup:hover {
  color: white;
}
