.link {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.span {
  font-size: 24px;
  font-weight: bold;
  color: white;
  vertical-align: center;
}
