/*

https://mycolor.space/?hex=%23002EAD&sub=1

  #002EAD
  #AC109D
  #F13078
  #FF7558
  #FFB94C
  #F9F871

  #0c0c0d
  #ADA9BB
  #797586
  #DA1630
  #FFF
  #000

*/

/* A little hack to toggle borders on elements that have them */
* {
  --dev-border-size: 0px;
}

* {
  font-family: Lato;
}

body {
  background-color: #0c0c0d;
}

/*  --------------------------------------------------------------------  */
/*  Lobbies                                                               */
/*  --------------------------------------------------------------------  */


#join-lobby-link {
  color: black;
}

.lobbyTableDiv {
  margin-top: 40px;
}

#lobby-table {
  width: 80%;
  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;
  margin: 0 auto;
}

#lobby-table thead {
  background-color: #FFB94C;
}

#lobby-table th,td {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#lobby-table tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

#lobby-table tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}

/*  --------------------------------------------------------------------  */
/*  Header                                                                */
/*  --------------------------------------------------------------------  */

header {
  background-color: #002EAD;
}

.title-flex-container {
  display: inline-block;
  width: 50%;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

/* 
 * I can't make inline-block take 100% height of parent, nor can I center the element
 * (not the children) in the parent. I would like this, I see that flexbox would
 * be a workaround. This should be obvious by now, but when we need to orient an
 * element in vertical space, inline-* is usually going to be insufficient.
 */
.user-cluster-flex-container {
  display: inline-block;
  width: 49.5%;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.title-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 10px;
}

.user-cluster-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 10px;
}

.title-span {
  font-size: 48px;
  color: white;
  display: inline-block;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-cluster {
  display: inline-block;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-cluster-link {

  color:white;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 10px;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-cluster-link:hover {
  color: #FFB94C;
}

.dropdown {
  position: relative; /*enable children to position absolutely*/
  
  display: flex;
  justify-content: flex-end;
  min-width: 200px; /*so drop down has normal size*/

  background-color: #002EAD;
  border: none;
  cursor: pointer;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.username-span{
  font-size: 24px;
  font-weight: bold;
  color: white;
  vertical-align: bottom;
  margin-right: 10px;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.username-span:hover {
  color: #FFB94C;
}

.user-profile-icon {
  width: 30px;
  height: 30px;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}


.dropdown-content {
  display: none;
  position: absolute; /*absolute of parent*/

  /* 
   * 100% refers to parent height 
   * Position the dropdown below the parent end of content (vertically)
  */
  top: 100%;
  left: 0%;


  width: 100%;
  z-index: 1;
  background-color: #002EAD;
  color: wheat;

  border: 2px;
  border-style: solid;
  border-color: white;
}

.logout-link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.logout-link-react {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.show {
  display:block;
}

.nav-div {
  margin-left: 20px;
}

.nav-link {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.nav-link:hover {
  color: #FFB94C;
}

/*  --------------------------------------------------------------------  */
/*  Lobby                                                                 */
/*  --------------------------------------------------------------------  */


#lobby-welcome-header {
  margin-left: 20%;
  color: white;
}

#lobby-name-span {
  font-size: 24px;
  font-style: italic;
  color:white;
}



#lobby-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;

  margin-left: 10%;
  margin-right: 10%;
}

#lobby-flex > * {
  flex-basis: 0;
}

#players-flex-container {
  flex-grow: 1;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;
}

.players-flex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  /*
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: minmax(0,2fr) minmax(0,1fr) minmax(0,1fr);
  grid-auto-rows: 30px;
  column-gap: 20px;
  row-gap: 10px;
  color: white;
  */
}

.center-flex-container{
  flex-grow: 2;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.chat-flex {
  min-height: 200px;
  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;
}

.player-controls-flex {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.player-controls-flex * {
  flex-grow: 1;
  flex-basis: 0;
}

.lobby-exit-button {
  background-color: red;
}

.lobby-nudge-button {
  background-color: yellow;
}

.player-controls-spacer {
  flex-grow: 2;
  background-color: none;
}

#settings-flex-container{
  flex-grow: 1; /*3*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-grid {
  /*padding-top: 10px;*/
  padding: 10px;
  display: grid;
  /* grid-template-columns: repeat(2,1fr 1fr); */
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
  column-gap: 20px;
  row-gap: 10px;
  color: white;
  font-size: 16px;

  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;

}

.settings-grid-label {
  font-weight: bold;
  color: white;
}

.settings-grid-value {
  font-weight: bold;
  color: #FFB94C
}

#edit-settings-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr 1fr);
  grid-auto-rows: 30px;
  column-gap: 20px;
  row-gap: 10px;
  color: white;
  background-color: #002EAD;
  font-size: 16px;
}
#start-game-button {
  color:white;
  background-color:green;
  text-decoration: line-through;
}
#edit-settings-button {
  color:white;
  background-color:orange;
}
#save-settings-button {
  color:white;
  background-color:green;
}
#discard-settings-button {
  color:white;
  background-color:#DA1630;
}

/* user-display */

.user-display {
  color:white;
}

.user-display * {
  display: inline-block;
}
