/*

https://mycolor.space/?hex=%23002EAD&sub=1

  #0096FF
  #002EAD
  #AC109D
  #F13078
  #FF7558
  #FFB94C
  #F9F871

  #0c0c0d
  #ADA9BB
  #797586
  #DA1630
  #FFF
  #000

*/

/*  --------------------------------------------------------------------  */
/*  Common / Util
/*  --------------------------------------------------------------------  */

/* this must appear before elements that use it */
.show {
  display:block;
}

.thick-blue-border {
  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;
}

/* A little hack to toggle borders on elements that have them */
* {
  --dev-border-size: 0px;
}

* {
  font-family: Lato;
}

body {
  background-color: #0c0c0d;
}

/*  --------------------------------------------------------------------  */
/*  Lobbies Page                                                               */
/*  --------------------------------------------------------------------  */


#join-lobby-link {
  color: black;
}

.lobbyTableDiv {
  margin-top: 40px;
}

#lobby-table {
  width: 60%;
  margin: 0 auto;

  /* TODO: replace with thick-blue-border*/
  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;
}

#lobby-table thead {
  background-color: #FFB94C;
}

#lobby-table th,td {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#lobby-table tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

#lobby-table tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}

.lobbies-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#create-lobby-button {
  width: 200px;
  margin-right: 10px;
  color: white;
  background-color: green;
}

/*  --------------------------------------------------------------------  */
/*  Header
/*  --------------------------------------------------------------------  */

header {
  background-color: #002EAD;
}

.title-flex-container {
  display: inline-block;
  width: 50%;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

/* 
 * I can't make inline-block take 100% height of parent, nor can I center the element
 * (not the children) in the parent. I would like this, I see that flexbox would
 * be a workaround. This should be obvious by now, but when we need to orient an
 * element in vertical space, inline-* is usually going to be insufficient.
 */
.user-cluster-flex-container {
  display: inline-block;
  width: 49.5%;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.title-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 10px;
}

.user-cluster-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 10px;
}

.title-span {
  font-size: 48px;
  color: white;
  display: inline-block;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-cluster {
  display: inline-block;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-cluster-link {

  color:white;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 10px;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-cluster-link:hover {
  color: #FFB94C;
}

.user-info-dropdown {
  position: relative; /*enable children to position absolutely*/
  
  display: flex;
  justify-content: flex-end;
  min-width: 200px; /*so drop down has normal size*/

  background-color: #002EAD;
  border: none;
  cursor: pointer;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.username-span{
  font-size: 24px;
  font-weight: bold;
  color: white;
  vertical-align: bottom;
  margin-right: 10px;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.username-span:hover {
  color: #FFB94C;
}

.user-profile-icon {
  width: 30px;
  height: 30px;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}


.user-info-dropdown-content {
  display: none;
  position: absolute; /*absolute of parent*/

  /* 
   * 100% refers to parent height 
   * Position the dropdown below the parent end of content (vertically)
  */
  top: 100%;
  left: 0%;


  width: 100%;
  z-index: 1;
  background-color: #002EAD;
  color: wheat;

  border: 2px;
  border-style: solid;
  border-color: white;
}

.logout-link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.logout-link-react {
  color: white;
  font-size: 24px;
  text-decoration: none;
}


.nav-div {
  margin-left: 20px;
}

.nav-link {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.nav-link:hover {
  color: #FFB94C;
}

/*  --------------------------------------------------------------------  */
/*  Lobby (PreGame)
/*  --------------------------------------------------------------------  */

#lobby-name-span {
  font-size: 24px;
  font-style: italic;
  color:white;
}

.lobby-exit-button {
  background-color: red;
}

.lobby-nudge-button {
  background-color: yellow;
}

#start-game-button {
  color:white;
  background-color:green;
  text-decoration: line-through;
}


/* PreGame layout */

.lobby-welcome-header {
  color: white;
  text-align: center;
}

.pregame-grid-banner {
  grid-area: banner;
  align-self: center;
}

.pregame-grid-player-list {
  grid-area: players;
}
.pregame-grid-lobby-chat {
  grid-area: chat;
}
.pregame-grid-game-settings {
  grid-area: settings;
}

.pregame-grid-lobby-buttons {
  grid-area: buttons;
}

.pregame-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ".       banner  banner  ."
    "players chat    chat    settings"
    "buttons  .       .       .";
  margin-left: 10%;
  margin-right: 10%;
}

/* Game layout */

.game-grid-timer {
  grid-area: timer;
  justify-self: center;
  /*
  display: flex;
  align-items: center;
  flex-direction: column;
  */
}
.game-grid-board {
  grid-area: board;
  justify-self: center;
}
.game-grid-word-input {
  grid-area: input;
  justify-self: center;
}
.game-grid-answer-display {
  grid-area: answers;
  justify-self: center;
}

.game-grid {

  display: grid;
  column-gap: 20px;

  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    ". timer ."
    ". board ."
    ". input ."
    ". answers .";

  /*
  margin-left: 10%;
  margin-right: 10%;
  */
}


/*  --------------------------------------------------------------------  */
/*  PlayerList (Comp)
/*  --------------------------------------------------------------------  */


.players-flex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

/*  --------------------------------------------------------------------  */
/*  Chat (Comp)
/*  --------------------------------------------------------------------  */

.chat-flex {
  min-height: 200px;

  border-style: solid;
  border-color: lime;
  border-width: 1px;
}

/*  --------------------------------------------------------------------  */
/*  Lobby Settings (Comp)
/*  --------------------------------------------------------------------  */

.game-settings-grid {

  /*padding-top: 10px;*/
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
  column-gap: 20px;
  row-gap: 10px;

  color: white;
  font-size: 16px;
}

.settings-grid-label {
  font-weight: bold;
  color: white;
}

.settings-grid-value {
  font-weight: bold;
  color: #FFB94C
}

#edit-settings-button {
  color:white;
  background-color:orange;
}
#save-settings-button {
  color:white;
  background-color:green;
}
#discard-settings-button {
  color:white;
  background-color:#DA1630;
}

/*  --------------------------------------------------------------------  */
/*  UserDisplay (Comp)
/*  --------------------------------------------------------------------  */

.user-display {
  color:white;
}

.user-display-self {
  color:hotpink;
}

.user-display * {
  display: inline-block;
}

.user-action-dropdown {
  position: relative; /*enable children to position absolutely*/
  
  display: flex;
  justify-content: flex-end;
  min-width: 200px; /*so drop down has normal size*/

  background-color: #002EAD;
  border: none;
  cursor: pointer;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-action-dropdown-content {
  display: none;
  position: absolute; /*absolute of parent*/

  /* 
   * 100% refers to parent height 
   * Position the dropdown below the parent end of content (vertically)
  */
  top: 0%;
  left: 100%;


  width: 100%;
  z-index: 1;
  background-color: #002EAD;
  color: wheat;

  border: 2px;
  border-style: solid;
  border-color: white;
}

.user-action-dropdown-content-actions {
  display: flex;
  flex-direction: column;
}

.game-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

/*  --------------------------------------------------------------------  */
/*  Timer (Comp)
/*  --------------------------------------------------------------------  */

.game-timer-div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-timer-text {
  color: orange;
  text-align: center;
  font-size: 32px;
}

/*  --------------------------------------------------------------------  */
/*  Board (Comp)
/*  --------------------------------------------------------------------  */

.die {
  background: #fff;
  float: left;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  height: 80px;
  width: 80px;
  margin: 4px;
  padding: 0;
  border: 1px solid #999;
  border-radius: 20px;
  /*box-shadow: -2px -4px 8px rgb(255 255 255 / 60%), 2px 4px 8px rgb(0 0 0 / 30%);*/
}

.board {
  display: table;

  background: #002EAD;
  border-radius: 20px;
  padding: 5px;
}

.board-row {
  display: table-row;
  background: #002EAD;
}

/*  --------------------------------------------------------------------  */
/*  WordInput (Comp)
/*  --------------------------------------------------------------------  */

.word-input-container {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/*  --------------------------------------------------------------------  */
/*  AnswerDisplay (Comp)
/*  --------------------------------------------------------------------  */

.word-columns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.found-word {
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
  /*position: relative;*/
}


