/*

https://mycolor.space/?hex=%23002EAD&sub=1

  #002EAD
  #AC109D
  #F13078
  #FF7558
  #FFB94C
  #F9F871

  #0c0c0d
  #ADA9BB
  #797586
  #DA1630
  #FFF
  #000

*/

/* A little hack to toggle borders on elements that have them */
* {
  --dev-border-size: 0px;
}

* {
  /*font-family: Roboto;*/
  font-family: Lato;
}

body {
  /*background-color: #FFF;*/
  background-color: #0c0c0d;
}

#lobby-welcome-header {
  color: white;
}

.lobbyTableDiv {
  margin-top: 40px;
}

.lobbyTable {
  margin: 0 auto;
}

table {
  width: 60%;
  border-style: solid;
  border-color: #002EAD;
  border-width: 5px;
}

thead {
  background-color: #FFB94C;
}

th,td {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}



tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}

/* header */

#header {
  background-color: #002EAD;
}

#title-span {
  font-size: 64px;
  color: white;
  width: 80%;
  padding-left: 1%;
  display: inline-block;
  vertical-align: bottom;
  font-family: Roboto;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

#username-info-span{
  display: inline-block;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: black;
}

#username-span{
  font-size: 24px;
  font-weight: bold;
  color: white;

  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  margin-bottom: 14px;
  margin-right: 10px; /*gap for name and icon*/
  width: 14%;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

#profile-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 14px;
  vertical-align: bottom;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;

}

#join-lobby-link {
  color: black;
}

.nav-link {
  font-size: 16px;
  color: white;
  margin-right: 8px;
}

/* Lobby */

#lobby-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;

  margin-left: 10%;
  margin-right: 10%;
  background: blue;
}

#users-flex-container {
  flex-grow: 4;

  display: flex;
  align-items: center;
  justify-content: center;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: green;
}

#users-flex {
}


#chat-flex-container{
  flex-grow: 8;

  display: flex;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

#settings-flex-container{
  flex-grow: 4;

  display: flex;
  align-items: center;
  justify-content: center;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: yellow;
}
