.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  /* --dark-blue-color: #002EAD; */
  /* background-color: var(--dark-blue-color); */
  background-color: #002EAD; 
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

