.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--dark-blue-color);
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

