:root {
  --button-width: 100px;
  --box-sizing: border-box;
  --border: border: 0;
  --border-radius: 20px;

  --color: color: white;
  --background-color: var(--dark-blue-color);

  --cursor: pointer;
  --font-size: .875em;
  --margin: 0;
  --padding: 8px 16px;
  --text-align: center;
  --transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --user-select: none;

  --font-weight: bold;
}

/*narrow display*/
@media (max-width: 600px) {
  :root {
    --button-width: 90px;
    --font-size: .675em;
    --padding: 8px 16px;
  }
}



.basic-button {

  width: var(--button-width);
  box-sizing: var(--box-sizing);
  border-radius: 20px;
  border: var(--border);
  cursor: var(--cursor);
  font-size: var(--font-size);
  margin: var(--margin);
  padding: var(--padding);
  text-align: var(--text-align);
  transition: var(--transition);
  user-select: var(--user-select);
  font-weight: var(--font-weight);

  color: white;
  background-color: var(--dark-blue-color);
}

.alternate-button {

  width: var(--button-width);
  box-sizing: var(--box-sizing);
  border-radius: 20px;
  border: var(--border);
  cursor: var(--cursor);
  font-size: var(--font-size);
  margin: var(--margin);
  padding: var(--padding);
  text-align: var(--text-align);
  transition: var(--transition);
  user-select: var(--user-select);
  font-weight: var(--font-weight);

  color: var(--dark-blue-color);
  background-color: white;
}

.tertiary-button {
  width: var(--button-width);
  box-sizing: var(--box-sizing);
  border-radius: 20px;
  border: var(--border);
  cursor: var(--cursor);
  font-size: var(--font-size);
  margin: var(--margin);
  padding: var(--padding);
  text-align: var(--text-align);
  transition: var(--transition);
  user-select: var(--user-select);
  font-weight: var(--font-weight);

  color: var(--dark-blue-color);
  background-color: var(--orange-color);
}

.danger-button {
  width: var(--button-width);
  box-sizing: var(--box-sizing);
  border-radius: 20px;
  border: var(--border);
  cursor: var(--cursor);
  font-size: var(--font-size);
  margin: var(--margin);
  padding: var(--padding);
  text-align: var(--text-align);
  transition: var(--transition);
  user-select: var(--user-select);

  color: white;
  background-color: red;
}

