:root {
  --dark-blue-color: #002EAD;
  --orange-color: orange;
  --four-letter-color : white;
  --five-letter-color : green;
  --six-letter-color: blue;
  --seven-letter-color: purple;
  --eight-letter-color: fuchsia;
}


/*  --------------------------------------------------------------------  */
/*   Util
/*  --------------------------------------------------------------------  */

.thick-blue-border {
  border-style: solid;
  border-color: var(--dark-blue-color);
  border-width: 5px;
  border-radius: 20px;
}

/* A little hack to toggle borders on elements that have them */
* {
  --dev-border-size: 0px;
}

* {
  font-family: Lato;
}

body {
  background-color: #0c0c0d;
}


/*  --------------------------------------------------------------------  */
/*  Header
/*  --------------------------------------------------------------------  */



/*  --------------------------------------------------------------------  */
/*  Lobby
/*  --------------------------------------------------------------------  */

#lobby-name-span {
  font-size: 24px;
  font-style: italic;
  color:white;
}

/* Lobby Layout (All modes) override temlate areas in instance grid */

.lobby-grid {

  display: grid;
  column-gap: 20px;
  row-gap: 10px;

  /*grid-template-columns: min(1fr,360px) 720px min(1fr,360px);*/
  grid-template-columns: 360px 480px 360px;
  /* 3rd row has variable size content ... */
  /*grid-template-rows: 60px 450px 30px 180px;*/
  grid-template-rows: 60px auto /*let the board take up as much space as needed*/ 30px 180px;

  justify-content: center; /* center grid in its container*/

  /* default for children */
  justify-items: center;
  align-items: center;

  margin-left: 10%;
  margin-right: 10%;
}

/* PreGame layout */

.lobby-welcome-header {
  color: white;
  text-align: center;
}

.pre-game-grid-banner {
  grid-area: banner;
  align-self: center;
  justify-self: center;
}

.pre-game-grid-player-list {
  grid-area: players;
  justify-self: end; /*horiz*/
  align-self: start; /*top*/
}

.pre-game-grid-lobby-chat-and-user-actions-grid {
  grid-area: chat-grid;
  justify-self: center;
  align-self: start; 
  min-width: 360px; 
  display: grid; /*subgrid*/

  column-gap: 10px;
  row-gap: 10px;

  /*grid-template-columns: min(1fr,360px) 720px min(1fr,360px);*/
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "chat"
    "user-actions";

  justify-content: start; /* center grid in its container*/

  /* default for children */
  justify-items: center;
  align-items: center;

}

.pre-game-grid-lobby-chat {
  grid-area: chat;
  justify-self: center;
  align-self: start; 
  min-width: 360px; 
}

.pre-game-grid-user-actions {
  display: flex;
  grid-area: user-actions;
  column-gap: 10px;
}

.pre-game-grid-game-settings {
  grid-area: settings;
  justify-self: start; /*horiz*/
  align-self: start; /*top*/
}

.pre-game-grid-template {
  grid-template-areas: 
    ".  banner  ."
    "players chat-grid settings"
    ".  . ." ;
}

/* Game layout */

.game-grid-timer {
  grid-area: timer;
}
.game-grid-board {
  grid-area: board;
}
.game-grid-word-input {
  grid-area: input;
  cursor: none;
}
.game-grid-word-input *{
  cursor: none;
}
.game-grid-answer-display {
  grid-area: answers;
  /* position at top of area : v important, it's jarring to see the words
   * already found shuffle about 
   */
  align-self:start;
}

.game-grid-template {
  grid-template-areas: 
    ". timer ."
    ". board ."
    ". input ."
    ". answers .";
}

/* PostGame layout */
.post-game-grid-scoreboard {
  grid-area: scoreboard;
}

.post-game-grid-exit {
  grid-area: exit;
}

.post-game-grid-template {
  grid-template-areas: 
    ". . ."
    "scoreboard board ."
    ". exit ."
    ". answers .";
}

/*  --------------------------------------------------------------------  */
/*  PlayerList (Comp)
/*  --------------------------------------------------------------------  */

.players-flex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  max-width: 200px;
}

/*  --------------------------------------------------------------------  */
/*  Chat (Comp)
/*  --------------------------------------------------------------------  */

.chat-flex {
  min-height: 200px;
  min-width: 400px;
}

/*  --------------------------------------------------------------------  */
/*  Lobby Settings (Comp)
/*  --------------------------------------------------------------------  */

.game-settings-grid {

  /*padding-top: 10px;*/
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30px;
  column-gap: 5px;
  row-gap: 10px;

  color: white;
  font-size: 16px;
}

.settings-grid-lobby-name {
  font-weight: bold;
  grid-column: span 2;
  border-bottom-width: 3px;
  border-color: var(--dark-blue-color);
  border-bottom-style: solid;
}

.settings-grid-label {
  font-weight: bold;
  color: white;
}

.settings-grid-value {
  font-weight: bold;
  color: var(--orange-color);
}

/*  --------------------------------------------------------------------  */
/*  UserDisplay (Comp)
/*  --------------------------------------------------------------------  */

.user-display {
  background-color: var(--dark-blue-color);
  color:white;
}

.user-display-self {
  color:hotpink;
}

.user-display * {
  display: inline-block;
}

.user-action-dropdown {
  position: relative; /*enable children to position absolutely*/
  
  display: flex;
  justify-content: flex-end;
  min-width: 200px; /*so drop down has normal size*/

  background-color: var(--dark-blue-color);
  border: none;
  cursor: pointer;

  border: var(--dev-border-size);
  border-style: solid;
  border-color: red;
}

.user-action-dropdown-content {
  display: none;
  position: absolute; /*absolute of parent*/

  /* 
   * 100% refers to parent height 
   * Position the dropdown below the parent end of content (vertically)
  */
  top: 0%;
  left: 100%;


  width: 100%;
  z-index: 1;
  background-color: var(--dark-blue-color);
  color: var(--orange-color);

  border: 2px;
  border-style: solid;
  border-color: white;
}

.user-action-dropdown-content-actions {
  display: flex;
  flex-direction: column;
}

.game-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

/*  --------------------------------------------------------------------  */
/*  Timer (Comp)
/*  --------------------------------------------------------------------  */

.game-timer-span {
  color: var(--orange-color);
  text-align: center;
  font-size: 32px;
}

/*  --------------------------------------------------------------------  */
/*  Board (Comp)
/*  --------------------------------------------------------------------  */

.die {
  background: #fff;
  float: left;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  height: 64px;
  width: 64px;
  margin: 4px;
  padding: 0;
  border: 1px solid #999;
  border-radius: 12px;
}


.board {
  display: table;

  background-color: var(--dark-blue-color);
  border-radius: 20px;
  padding: 5px;
}

.board-row {
  display: table-row;
}

/*  --------------------------------------------------------------------  */
/*  Scoreboard (Comp)
/*  --------------------------------------------------------------------  */

.scoreboard-flex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  max-width: 200px;
}
.scoreboard-entry-flex {
  display: flex;
  flex-direction: row;
  justify-items: start;
  column-gap: 5px;
}

.scoreboard-entry-flex > * {
  color:white;
}

/*  --------------------------------------------------------------------  */
/*  WordInput (Comp)
/*  --------------------------------------------------------------------  */

.word-input {
  /* inputs have implicit paddign/border */
  text-align: center;
  border: 0px;
  padding: 0px;
}

/*  --------------------------------------------------------------------  */
/*  AnswerDisplay (Comp)
/*  --------------------------------------------------------------------  */

.word-column-group-flex-container {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  /* firefox */
  scrollbar-width: none;
  /* chromium */
  max-height: 180px;
}

.word-column-group-flex-container::-webkit-scrollbar {
  /* ::-webkit-scrollbar is a pseudo element */
  display: none;
}

.word-column-group-flex {
  display: flex;
  flex-direction: row;
}

.word-column-flex {
  display: flex;
  flex-direction: column;
}

.word-group-three {
  color : var(--four-letter-color);
}
.word-group-four {
  color : var(--four-letter-color);
}
.word-group-five {
  color : var(--five-letter-color);
}
.word-group-six {
  color : var(--six-letter-color);
}
.word-group-seven {
  color : var(--seven-letter-color);
}
.word-group-eight {
  color : var(--eight-letter-color);
}

.word {
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
}

/*  --------------------------------------------------------------------  */
/*  AllAnswerDisplay (Comp)
/*  --------------------------------------------------------------------  */

.missed-word {
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
  color: rgba(43, 43, 43,1.0);
}

.crossed-word {
  text-decoration: line-through;
  text-decoration-color: red;
  color: rgba(43, 43, 43,1.0);
}

/* these should appear after elements that use them */

.show {
  display:block !important;
}

.show-flex {
  display:flex !important;
}

